In [3]:
import pandas as pd

In [4]:
my_data = pd.read_csv("my_data.csv")

In [6]:
# column 이름 바꾸기
my_data = my_data.set_axis(labels = ["del_index", "name", "age", "salary"], axis = 1)

In [7]:
# del_index 드랍
my_data = my_data.drop("del_index", axis = 1)

In [8]:
# 이름 영어에서 한글로 바꾸기
translate_name = {"Alice":"앨리스", "Bob":"밥", "Charlie":"찰리", "james":"제임스"}
for key, value in translate_name.items():
    my_data["name"] = my_data["name"].replace(key, value)

In [10]:
# salary에 해당하는 숫자를 세자리 단위로 콤마를 넣어 값 바꾸기
my_data['salary'] = my_data['salary'].apply(lambda x: "{:,}".format(x))

In [12]:
# csv파일 저장
my_data.to_csv("changed_data.csv", index=False)